<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>애완동물 정보</title>
  <link rel="stylesheet" href="css/write3.css">
</head>
<body>
<header>
  <h1>찾재냥</h1>
  <nav>
    <a href="home.html">HOME</a>
    <a href="login.html">LOGIN</a>
  </nav>
</header>
<main>
  <h2>소통방</h2>
  <form action="submit-pet-info.php" method="post" id="pet-info-form" enctype="multipart/form-data">
    <div class="form-group">
      <label for="photo">사진첨부:</label>
      <input type="file" id="photo" name="photo" accept="image/*" required>
    </div>

    <div class="form-group">
      <label for="description">내용:</label>
      <textarea id="description" name="description" rows="30" required></textarea>
    </div>
    <div class="form-buttons">
      <button type="reset">리셋</button>
      <button type="submit">제출</button>
    </div>
  </form>
</main>
<footer>
  <p>© 2024 찾개냥. All rights reserved.</p>
</footer>
</body>
</html>
